.navbar{
    background-color:red;
    color: white;
    padding: 10px;
    display: flex;
}
a{
    color: white;
    margin-right: 50px;
    text-decoration: none;
    margin-top: 5px;
}
#title{
    width: 60%;
    text-align: center;
}
#menu{
    text-align: center;
    width: 40%;
}